backend/target
backend/.lein-*
backend/.nrepl*
backend/resources/log/*
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.vscode
mysql-db Session.sql
frontend/out
frontend/target
frontend/.cpcache
