backend/.cpcache
backend/target
backend/.lein-*
backend/.nrepl*
backend/resources/log/*
backend/.calva
tags
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
mysql-db Session.sql
frontend/out
frontend/target
frontend/.cpcache
.calva/*
.vscode
mysql-db.session.sql
